*{
	margin:0;
	padding: 0;
	font-family: 'VERDANA',Times,serif;
}
header
{
	background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(Home.jpg) ;
	height: 120vh;
	background-size: cover;
	background-position: center;
}
.Main
{
	max-width: 1200px;
	margin: auto;
}
.title
{
	position: absolute;
	top: 30%;
	left: 40%;
}
.title h5
{
	color: rgb(0,0,0);
	font-size: 50px;
}
.RazorButton
{
	position: absolute;
	top: 65.8%;
	left: 43.5%;
}